/* CUSTOM PROPS */

:root{
    --green:#0a775f;
    --green-80:rgba(10, 119, 95,0.8);
    --green-60:rgba(10, 119, 95, 0.6);
    --brown:rgba(201, 155, 103);
    --brown-80:rgba(201, 155, 103,0.8);
    --brown-60:rgba(201, 155, 103,0.6);
    --light-brown:#f3d7b7;
    --light-green:#f8f8f2;
    --outline-color:var(--green);
}


/* GLOBAL */

html{
    box-sizing: border-box;
    height: 100%;
    scroll-behavior: smooth;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

body{
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family:  "Roboto","Arial",sans-serif;
    font-size: 18px;
    line-height: 30px;
    background-color:#fff;
    color: #333;
}

.img{
    max-width: 100%;
    height: auto;
}

*:focus{
    outline: 2px solid var(--outline-color);
    outline-offset: 3px;
}

/* CONTAINER  */
.container{
    width: 100%;
    max-width: 1440px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

.main-button {
    display: flex;
    border: 0;
    border-radius: 100px;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    padding: 16px 24px 16px 24px;
    letter-spacing: 1px;
    white-space: nowrap;
    }
    .button-green{
        background-color: var(--green);
        color:#fff;
    }
   .button-green:hover{
    background-color: var(--green-80);
   }
   .button-green:hover{
    background-color: var(--green-60);
   }
   .button-brown:hover{
    background-color: var(--brown-80);
   }
   .button-brown:hover{
    background-color: var(--brown-60);
   }
/* FONTS  */


@font-face {
    font-display: swap; 
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v30-latin-regular.woff2') format('woff2');
  }
  /* roboto-700 - latin */
  @font-face {
    font-display: swap; 
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/roboto-v30-latin-700.woff2') format('woff2');
  }
  /* HEADER   */
  .site-header {
    padding-top: 40px;
    padding-bottom: 40px;
}
.site-header-intro-wrapper{
    background-image: url(../img/light-bg-img.jpg);
    background-color:var(--light-brown) ;
}

.header-container{
    display: flex;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;

}
.site-header-link-wrapper {
  display: flex;
    align-items: center;
}
.site-header-link{
    text-decoration: none;
    flex-shrink: 0;
}
.site-header-link:hover{
    opacity: 0.8;
}
.site-header-link:active{
    opacity: 0.6;
}
.site-header-logo-img-emblem{
   margin-right: 8px;
   object-fit: cover;
   width: 24px;
   height: 24px;
}
.site-header-logo-img{
    object-fit: cover;
    width:223px ;
    height: 24px;
}
.site-nav {
    margin-left: auto;
    white-space: now;
}
.sitenav-list {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    
}
.sitenav-item {
  padding-top: 5px;
  padding-bottom: 5px;
}
.sitenav-item:not(:last-child){
    margin-right: 40px;
}
.sitenav-link {
    color: #333;
    text-decoration: none;
font-size: 12px;
font-weight: 700;
line-height: 14px;
letter-spacing: 1px;
text-align: left;
text-transform: uppercase;
white-space: nowrap;
}

.sitenav-link:hover{
color: var(--green);
}
.sitenav-link :active{
opacity: 0.8;
}

/* SITE HERO  */
.site-hero {
}
.hero-container {
    display: flex;
   padding-left: 0;
   padding-right: 0;
    
}
.hero-info-wrapper{
    width: 100%;
    max-width: 730px;
    padding-top: 116px;
    padding-bottom: 100px;
    padding-left: 150px;
    padding-right: 116px;
}
.hero-header {
    margin-top: 0;
    margin-bottom: 24px;
    color:#000;
    font-size: 64px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0px;
    text-align: left;
}
.hero-text {
    margin: 0;
    color: #000;
    font-size: 16px;
    font-weight: 400;
line-height: 24px;
letter-spacing: 0px;
text-align: left;
}
.hero-text:not(:last-child){
    margin-bottom: 32px;
}

.hero-img{
    width: 710px;
    height: 596px;
    object-fit: cover;
}
.hero-img-index{
    height: 696px;
}


/* MAIN CONTENT  */

/* INDEX COLLECTION  */
.main-content{
    flex-grow: 1;
    padding-top: 20px;
    padding-bottom: 50px;
}


.index-collection-inner{
    padding: 50px ;
    background-color: var(--light-green);
    background-image: url(../img/index-collections-bg.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}
.collections-heading {
    margin-top: 0;
    margin-bottom: 80px;
    color: rgb(0, 0, 0);
    font-size: 50px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0px;
    text-align: center;
    text-transform: uppercase;
}
.collections-list {
  
    margin: 0;
    padding: 0;
    list-style: none;
}
.collections-item {
    display: flex;
    align-items: center;
    width: 390px;
}
.collections-item:not(:last-child){
    margin-bottom: 120px;
}
.collections-item:nth-child(even) {
   flex-direction: row-reverse;
}

.collections-image {
    flex-shrink: 0;
   
    width: 450px;
    height: 375px;
    object-fit: cover;
}
.collection-header-text-wrapper{
    flex-grow: 1;
}
.collections-header {
    margin-top: 0;
    margin-bottom: 10px;
    color: rgb(51, 51, 51);
    font-size: 48px;
    font-weight: 500;
    line-height: 56px;
    letter-spacing: 0px;
    text-align: left;
}
.collections-text{
    margin: 0;
    color: rgb(51, 51, 51);
    font-size: 22px;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0px;
    text-align: left;
    width: 390px;
}
.collections-item:nth-child(1) .collections-header-text-wrapper,
.collections-item:nth-child(3) .collections-header-text-wrapper{
    padding-left: 117px;
}
/* RETINA BG  */
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) { 
    .site-header-intro-wrapper{
        background-image: url(../img/light-bg-img@2x.jpg);
      
    }
}
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) { 
.index-collection-inner{
    background-image: url(../img/index-collections-bg@2x.jpeg);
}
}